tk
PyQRCode
PyYAML
phonenumbers
psycopg2
psycopg2-binary
requests
pybase64
uuid
opencv-python
Pillow
qrcode
pypi-install
xlwings
curlify
rsa
cryptography
selenium
tkcalendar
ttkthemes
robotframework
robotframework-jsonlibrary
robotframework-requests
robotframework-Selenium2Library
robotframework-appiumlibrary